body {
	background-color: #ffe6cc;
}

.start_button{
	margin-top:20px;
    margin-left:100px;
    height:60px;
    width: 200px;
    font-size: 20px;
    background-color:#FFD700;
    border-radius:10px;
    display:block;
}
.start_button:hover{
	margin-top:20px;
    margin-left:100px;
    height:60px;
    width: 200px;
    font-size: 20px;
    background-color:#FFF;
    border-radius:10px;
}